conf/auth.json
conf/figshare_hr_key.json
conf/test_figshare_hr_key.json
conf/override_group.json
conf/override_quota.json
conf/proxy
tests/conf/*
user_xml_files/
Upload/test_hr_file_to_upload.json
Upload/hr_file_to_upload.json
figshare_cleanup/auckland_2017-06-17_HR_dump_from_Figshare.csv
annual_fix/zero_conf.json
uos/UOS_files/
figshare_keys.json
figshare_site_params.json
